:root {
  --font-weight__h: 500;
  --text-color: #d2dcee;
  /* --header-color: #0aafaf; */

  --header-color: #0f4173;
  --header-color: #0f4173;

  --header-color: #31697c;
  --header-color: #3b465e;
  --header-color: #054257;
  --header-color: #0b4356;
  --header-color: #005270;
  --screen-size-scale: 1;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: calc(16px * var(--screen-size-scale));
  color: var(--text-color);
  line-height: 1.5;
  background-color: #111b31;
}
.bold {
  font-weight: var(--font-weight__h);
}

/*
margin: top right bottom left;
*/

main {
  margin: 10px 15px 20px 15px;
}

body h1 {
  font-size: calc(25px * var(--screen-size-scale));
  font-weight: var(--font-weight__h);
  color: var(--text-color);
}
body h2 {
  font-size: calc(20px * var(--screen-size-scale));
  font-weight: var(--font-weight__h);
  color: var(--text-color);
}
h3 {
  font-size: calc(18px * var(--screen-size-scale));
  font-weight: var(--font-weight__h);
  color: var(--text-color);
}

h4 {
  font-size: calc(16px * var(--screen-size-scale));
  font-weight: var(--font-weight__h);
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--text-color);
}

.page-header {
  display: flex;
  width: 100%;
  background-color: var(--header-color);
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.page-header__left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header__logo {
  width: calc(85px * var(--screen-size-scale));
  margin: 15px 10px 0 10px;
  border-radius: 35%;
}

.page-header__right {
  margin: -10px 0 0 -10px;
}
.navigation-list li {
  display: inline-block;
  margin: 3px;
}

.navigation-list__item a:before,
.navigation-list__item a:after {
  position: relative;
  opacity: 0;
  transition: all 0.3s;
}

.navigation-list__item a:before {
  content: "( ";
  left: 0px;
  transform: translateX(10px) !important;
}

.navigation-list__item a:after {
  content: " )";
  right: 0px;
  transform: translateX(-10px) !important;
}

.navigation-list__item a:hover:before,
.navigation-list__item a:hover:after {
  opacity: 1;
  transform: translateX(0px) !important;
}

.page-footer {
  clear: both;
  display: flex;
  padding-bottom: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--header-color);
}

.find-me {
  font-size: calc(25px * var(--screen-size-scale));
}

.thumbnail {
  max-width: 250px;
}

/* end of universal CSS */

/* Home  */ /* Home  */

.main-description {
  text-align: center;
  padding: 0px 20px;
}

.main-flex {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.main-flex-item {
  flex-grow: 1;
  background-color: var(--header-color);
  margin: 10px;
  padding: 5px 10px 10px 10px;
  max-width: 350px;
  justify-items: center;
  text-align: center;
}

.thumbnail {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.main-flex-item:hover .thumbnail {
  filter: brightness(50%);
  /* transition: filter 0.3s ease; */
}

/* Home  */ /* Home  */

/* About Me */

.profile {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.coding-skills__table {
  clear: both;
  display: none;
}

.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--header-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border: 3px solid var(--text-color);
  transition-delay: 0.2s;
  transition-property: background-color;
}
.button:hover,
.button:focus {
  cursor: pointer;
  filter: brightness(65%);
}

/*  Thinkorswim  */
/*  Thinkorswim  */

.flex {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.flex-item {
  flex-grow: 1;
  background-color: var(--header-color);
  margin: 10px;
  padding: 5px 10px 10px 10px;
  max-width: 350px;
}

/* Contact - Will Delete this page later */
/* Contact - Will Delete this page later */

.button__secondary {
  background-color: #e0b354;
  color: #2b2b2b;
}

@keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Media Quereys */
/* Media Quereys */

/*
margin: top right bottom left;
*/

@media (min-width: 760px) {
  :root {
    --screen-size-scale: 1.05;
  }
  body {
    line-height: 1.6;
  }
  main {
    margin: 40px 12.5% 80px;
  }

  .page-header {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
  }
  .page-header__logo {
    margin: 12px;
  }
  .page-header__right,
  .page-header__left {
    margin: 0 3%;
  }
}

@media (min-width: 1050px) {
  :root {
    --screen-size-scale: 1.15;
  }
  body {
    line-height: 1.6;
  }
  main {
    margin: 60px 15% 80px;
  }

  .page-header {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
  }
  .page-header__logo {
    margin: 12px;
  }
  .page-header__right,
  .page-header__left {
    margin: 0 3%;
  }
}
