/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: calc(16px * 1);
  color: #201b41;
  line-height: 1.25;
}

@media (min-width: 750px) {
  body {
    font-size: calc(16px * 1.1);
  }
}

/*
  margin: top right bottom left;
  */

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px;
}

body h1 {
  font-size: calc(25px * 1);
  font-weight: 700;
  color: #201b41;
}

@media (min-width: 750px) {
  body h1 {
    font-size: calc(25px * 1.1);
  }
}
body h2 {
  font-size: calc(20px * 1);
  font-weight: 700;
  color: #201b41;
}
@media (min-width: 750px) {
  body h2 {
    font-size: calc(20px * 1.1);
  }
}
h3 {
  font-size: calc(18px * 1);
  font-weight: 700;
  color: #201b41;
}
@media (min-width: 750px) {
  h3 {
    font-size: calc(18px * 1.1);
  }
}

h4 {
  font-size: calc(16px * 1);
  font-weight: 700;
  color: #201b41;
}

@media (min-width: 750px) {
  h4 {
    font-size: calc(16px * 1.1);
  }
}

a {
  color: #201b41;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #201b41;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #00ffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
}

.page-header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page-header__logo {
  width: calc(100px * 1);
  margin: 15px 10px 0 10px;
  border-radius: 35%;
}

@media (min-width: 750px) {
  .page-header__logo {
    width: calc(100px * 1.1);
  }
}

.page-header__right {
  margin: -10px 0 0 -10px;
}
.navigation-list li {
  display: inline-block;
  margin: 3px;
}

.navigation-list__item a:before,
.navigation-list__item a:after {
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.navigation-list__item a:before {
  content: "( ";
  left: 0px;
  -webkit-transform: translateX(10px) !important;
  -ms-transform: translateX(10px) !important;
  transform: translateX(10px) !important;
}

.navigation-list__item a:after {
  content: " )";
  right: 0px;
  -webkit-transform: translateX(-10px) !important;
  -ms-transform: translateX(-10px) !important;
  transform: translateX(-10px) !important;
}

.navigation-list__item a:hover:before,
.navigation-list__item a:hover:after {
  opacity: 1;
  -webkit-transform: translateX(0px) !important;
  -ms-transform: translateX(0px) !important;
  transform: translateX(0px) !important;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #00ffff;
}
/* end of universal CSS */

/* Home  */

/* About Me */

.profile {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
}

.profile_portrait {
  width: calc(300px * 1);
  max-width: 500px;
  height: auto;
  border-radius: 50%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media (min-width: 750px) {
  .profile_portrait {
    width: calc(300px * 1.1);
  }
}

.coding-skills__table {
  clear: both;
  display: none;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #00ffff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border: 3px solid #201b41;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #00ffff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border: 3px solid #201b41;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
}
.button:hover,
.button:focus {
  cursor: pointer;
  background-color: rgb(0, 255, 255, 0.2);
}

/* Contact  */

.button__secondary {
  background-color: #e0b354;
  color: #2b2b2b;
}

@-webkit-keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}

@keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/*  Thinkorswim  */

.grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
  grid-gap: 5px;
}

.grid-item {
  background-color: lightgray;
  margin: 5px;
  padding: 5px;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}

@media (min-width: 750px) {
  body {
    line-height: 1.6;
  }
  main {
    margin: 50px;
  }

  .page-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .page-header__logo {
    margin: 12px;
  }
  .page-header__right,
  .page-header__left {
    margin: 0 3%;
  }
}
